body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.name-highlight {
    color: orange;
}

section {
    display: flex;
}

.width-half {
    width: 50%;
    padding-left: 2%;
}

.width-half img {
    width: 80%;
}

.button-calltoaction {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
}